.createDishButton {
    background-color: #ffa500; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    /* margin-left: 35px; */
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(85, 83, 83);

  }

  .createDishButton:hover {
    background-color: #ffbf00; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
    color: white;
  }
  