.createDishButton {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.createDishLink {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: #ffbf00;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  color: white;
}