.article {
  flex: 0 0 32%;
  /* margin: 10px; */
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  font-size: 1.2rem;
  background-color: white;
  padding: 15px;
  color: rgb(85, 83, 83);
}

.article img {
  width: 100%;
}

h4 {
  font-style: italic;
  font-weight: normal;
}