.profile {
  flex: 0 0 15%;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; 
  background-color: #fff;
  margin: 20px;
  margin-top: 0;
  margin-left: 50px;
  padding: 10px;
  padding-top: 0;
}


.banner {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  position: relative;
  margin-bottom: 60px;
}

.photo {
  width: 250px;
  height: auto;
  border-radius: 5%;
  display: block;
  margin: -60px auto 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boldedPiece{
  font-weight: bold;
}

.description {
  padding: 20px;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  font-style: italic;
}

.chefProfileLinkContainer{
  display: flex;
  justify-content: flex-end;
  padding: inherit;
}

.chefProfileLink {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: orange;
  /* margin: 10px 0 10px auto; */
}
