.dishDetailsContainer {
	display: flex;
	margin: 0 3% 20px;
	background-color: white;
	padding: 20px;
	padding-top: 0;

}

.imageContainer {
	flex: 1;
	text-align: center;
	margin-right: 5%;
}

.image {
	max-width: 70%;
	height: auto;
}

.dishTitle {
	margin-bottom: 20px;
}

.details {
	flex: 2;
	padding: 10px;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	max-width: 1000px;
}

.ingradients {
	font-style: italic;
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-top: 0;
}

.ingradientsWord {
	font-weight: bold;
}

.description {
	font-size: 1.2em;
	flex-grow: 1;
	/* border: 1px solid #eee; */
	/* padding: 10px; */
	margin-bottom: 10px;
}

.actions {
	display: flex;
	justify-content: end;
	margin-top: 30px;
}

.comments {
	margin-top: 20px;
	font-weight: bold;
}

.dishes {
	font-weight: bold;
	font-size: 1.2em;
}

.author {
	font-size: 1em;
	margin-left: auto;
	font-style: italic;
}

.actionBtn {
	font-family: inherit;
	font-weight: 500;
	border: none;
	border-radius: 5px;
	background-color: #ffbf00;
	color: rgb(74, 23, 23);
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px 15px;
	text-decoration: none;

}

.actionBtn:hover {
	cursor: pointer;
	background-color: #ffbf00;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
	color: white;
}

.commentsHeading{
	margin-top: 20px;
	margin-bottom: 20px;
}

.commentsContainer{
	padding-left: 0;
}