.dish {
    flex: 0 0 32%;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 15px;
    padding-top: 0;
    color: rgb(85, 83, 83);
    text-decoration: none;
}
.dish:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

.dish img {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    color: rgb(74, 23, 23);
    text-align: center;
    margin-bottom: 0;
    font-size: 1.7em;
    text-decoration: none;
    font-weight: 500;
}

.title:hover{
    cursor: pointer;
    transform: translateY(-2px); 
}


.subtitle {
    color: rgb(74, 23, 23);
    padding: 10px;
    background-color: white;
    box-shadow: none;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: normal;
}

.author {
    font-style: italic;
    text-align: right;
    margin-right: 25px;
    font-weight: normal;
}