@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.mainContainer {
  display: flex;
  margin: 20px;
  
}

/* .profile {
  flex: 0 0 30%;
  background-color: #ffff00; 
  
} */

.blogArticles {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.article {
  width: 45%;
  height: 500px;
  background-color: #ffffff; 
}

.ourTeamTitle {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  color: rgb(74, 23, 23);
}
