@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.mainContainer {
  display: flex;
  margin: 20px;
  /* margin: 0 20px; */
}

.profile {
  flex: 0 0 30%;
  background-color: #ffff00; /* Yellow color for the profile area */
  /* Rest of your styling for the profile */
}

.blogArticles {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the space between articles */
  padding-left: 20px; /* To create space between profile and articles */
}

.article {
  width: 45%;
  height: 500px;
  background-color: #ffffff; /* White color for the articles */
  /* Rest of your styling for the article */
}

.ourTeamTitle {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  color: rgb(74, 23, 23);
}
